/**{outline: 0.1px solid rgba(255,0,0,0.3)};*/

#pantallas>#proceso2,#proceso3,#proceso4,#proceso5{ display: none; }

#nuevo_monto{ display: none; }
.cont_cajero {
  margin: 60px;
  padding: 20px;
  background: #C0C0C0;
  height: auto;
  width: auto;
  border: 10px solid #D6D6D6;
}

.cont_cajero .cajero {
  padding: 40px;
  background: #AAAAAA;
  border: 1px solid #fff;
  border-radius: 10px;
}

.cont_cajero .cajero .pantalla {
  width: 450px;
  height: 300px;
  background: #A8C6FA;
  margin-left: 110px;
}
.cont_cajero .cajero .pantalla .contp{
  padding: 100px 20px 100px 20px;
}
.cont_cajero .cajero .pantalla .contp label{
  font-size: 17px;
}

.cont_cajero .cajero .btn_der {
  margin-top: -300;
}

.cont_cajero .cajero .btn_der ul {
  list-style: none;
}

.cont_cajero .cajero .btn_der ul li {
  margin-bottom: 15px;
}

.cont_cajero .cajero .btn_der ul li a {
  width: 80px;
}

.cont_cajero .cajero .btn_izq {
  text-align: center;
  margin-left: -30px;
}

.cont_cajero .cajero .btn_izq ul {
  list-style: none;
}

.cont_cajero .cajero .btn_izq ul li {
  margin-bottom: 15px;
}

.cont_cajero .cajero .btn_izq ul li a {
  width: 80px;
}

.cont_cajero .cont_btnb {
  margin-left: 20%;
  margin-right: 20%;
}

.cont_cajero .cont_btnb .btnb {
  width: 250px;
  height: auto;
  padding:10px 10px 0 10px;
  background: #AAAAAA;
}

.cont_cajero .cont_btnb .btnb ul {
  list-style: none;
  padding: 0;
}

.cont_cajero .cont_btnb .btnb ul li {
  display: inline-block;
}

.cont_cajero .cont_btnb .btnb ul li a {
  width: 61px;
  height: 61px;
  margin-bottom: 9.5px;
}

.cont_cajero .cont_btnb .btnbi {
  padding:10px 10px 0 0;
  background: #AAAAAA;
}

.cont_cajero .cont_btnb .btnbi ul{
 padding-left: 0;
}
.cont_cajero .cont_btnb .btnbi ul li {
  list-style: none;
  list-style-width: 20px;
  list-style-height: 20px;
}
.cont_cajero .cont_btnb .btnbi ul li a{
  text-align: center;
  width: 130px;
  height: 61px;
  margin-bottom: 9.5px;
}

#proceso2 {
  width: 450px;
  height: 300px;
  background: #A8C6FA;
  margin-left: 110px;
  text-align: left;
}
#proceso2  .contp{
  padding: 8px 20px 50px 20px;
}
 #proceso2  .contp p{
  font-size: 17px;
  margin-bottom: 40px;
}
#proceso3 {
  width: 450px;
  height: 300px;
  background: #A8C6FA;
  margin-left: 110px;
}
#proceso3  .contp-der,.contp-izq{
  padding: 20px 20px 50px 20px;
}
 #proceso3  .contp-der p,.contp-izq p{
  font-size: 17px;
  font-weight: 5px;
  margin-bottom: 30px;
}

#proceso4 {
  width: 450px;
  height: 300px;
  background: #A8C6FA;
  margin-left: 110px;
}
#proceso4 .contp{
  padding: 100px 20px 100px 20px;
}
 #proceso4 .contp label{
  font-size: 17px;
  font-weight: 5px;
}


#proceso5 {
  width: 450px;
  height: 300px;
  background: #A8C6FA;
  margin-left: 110px;
}
#proceso5 .contp{
  padding: 100px 20px 100px 20px;
}
 #proceso5 .contp label{
  font-size: 17px;
  font-weight: 5px;
}
